<div class="con">
<div class="login_box">
	<div class="left">
		<div></div>
		<div class="contact">
			<form onSubmit="return false">
				<h3>SIGN IN</h3>
				<input type="email" #email placeholder="EMAIL">
				<input type="password" #password placeholder="PASSWORD">
				<button class="submit" (click)="login(email.value,password.value)">LET'S GO</button>
			</form>
		</div>
	</div>
	<div class="right">
		<div class="right-text">
			<h2>FeelEase</h2>
			<h5>Place which help to boost up Emotions</h5>
		</div>
	</div>
</div>
</div>	
