
<app-navbar1></app-navbar1>
<div class="con">
    <div class="card">
    <div class="heading">
        <h1>Just want to know you a bit more.......</h1>
    </div>
    <form>
        <p>Fill with the exact state. So based on ur state we will be connecting you!</p>
        <label>Can you tell a bit about how are feeling now?</label>
        <textarea id="senti" name="senti" cols="40" rows="7" ></textarea>
        <div class="but">
            <input type="submit" value="Submit" (click)="calculatescore()">
        </div>  
    </form>
</div>
</div>