
<app-navbar1></app-navbar1>
<div class="con">
    <form>
        <h1>Just want to know you a bit more.......</h1>
        <label>How are your feeling?</label>
        <input type="text" id="feel" name="feel">
        <label>What are you feeling sad about?</label>
        <input type="text" id="domain" name="domain">
        <label>Can you explain a bit more why are you sad?</label>
        <textarea id="senti" name="senti" cols="40" rows="5"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>