<div class="con">
    <div class="logup_box">
        <div class="left">
            <div class="contact">
                <form onSubmit="return false">
                    <h3>SIGN UP</h3>
                    <input type="email" #email placeholder="EMAIL">
                    <input type="password" #password placeholder="PASSWORD">
                    <input type="password" #repassword placeholder="RE-PASSWORD">
                    <button (click)="tosignin()"></button>
                    <button class="submit" (click)="logup(email.value,password.value,repassword.value)">START WITH</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <h2>FeelEase</h2>
                <h5>Place which help to boost up Emotions</h5>
            </div>
        </div>
    </div>
    </div>	
    